In [1]:
from scipy import stats
import math
import pandas as pd

a = pd.read_csv("metrics/new/metrics-developed.csv")
b = pd.read_csv("metrics/new/metrics-existing.csv")
a = a.set_index("Class")
b = b.set_index("Class")

In [2]:
a

,TP,TN,FP,FN,Precision,Recall,F1-Score,Accuracy
Class,,,,,,,,
accountant,54,1848,12,6,0.818182,0.900000,0.857143,0.990625
application developer,39,1848,12,21,0.764706,0.650000,0.702703,0.982812
auditor,37,1855,5,23,0.880952,0.616667,0.725490,0.985417
bookkeeper,60,1852,8,0,0.882353,1.000000,0.937500,0.995833
chef,58,1860,0,2,1.000000,0.966667,0.983051,0.998958
clerk,59,1860,0,1,1.000000,0.983333,0.991597,0.999479
college professor,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
customer service representative,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
database administrator,56,1855,5,4,0.918033,0.933333,0.925620,0.995313
event planner,118,1797,3,2,0.975207,0.983333,0.979253,0.997396
financial advisor,58,1860,0,2,1.000000,0.966667,0.983051,0.998958
financial manager,56,1850,10,4,0.848485,0.933333,0.888889,0.992708
graphic designer,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
hotel and restaurant staff,57,1856,4,3,0.934426,0.950000,0.942149,0.996354
hr manager,48,1845,15,12,0.761905,0.800000,0.780488,0.985938
illustrator,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
medical assistant,50,1848,12,10,0.806452,0.833333,0.819672,0.988542
medical doctor,44,1853,7,16,0.862745,0.733333,0.792793,0.988021
medical laboratory technologist,58,1854,6,2,0.906250,0.966667,0.935484,0.995833
office manager,49,1859,1,11,0.980000,0.816667,0.890909,0.993750
pharmacist,58,1852,8,2,0.878788,0.966667,0.920635,0.994792
project coordinator,59,1858,2,1,0.967213,0.983333,0.975207,0.998437
public relations,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
recruiter,56,1849,11,4,0.835821,0.933333,0.881890,0.992188
registered nurse,52,1855,5,8,0.912281,0.866667,0.888889,0.993229
researcher,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
software engineer,52,1850,10,8,0.838710,0.866667,0.852459,0.990625
sped teacher,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
system analyst,46,1842,18,14,0.718750,0.766667,0.741935,0.983333
tutor,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
web developer,56,1854,6,4,0.903226,0.933333,0.918033,0.994792

In [3]:
a_mean = pd.DataFrame(a.describe().iloc[1])
a_mean = a_mean.rename(columns={"mean": "Developed mean"})

a_mean.to_csv("developed-mean.csv")

In [4]:
a.describe()

,TP,TN,FP,FN,Precision,Recall,F1-Score,Accuracy
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,56.774194,1852.903226,5.161290,5.161290,0.915951,0.914516,0.913382,0.994624
std,13.017193,11.625704,5.260525,6.377548,0.085461,0.106610,0.090511,0.005395
min,37.000000,1797.000000,0.000000,0.000000,0.718750,0.616667,0.702703,0.982812
25%,52.000000,1850.000000,0.000000,0.000000,0.855615,0.866667,0.869516,0.991406
50%,58.000000,1855.000000,5.000000,2.000000,0.918033,0.966667,0.935484,0.995833
75%,60.000000,1860.000000,9.000000,8.000000,1.000000,1.000000,0.995798,0.999740
max,118.000000,1860.000000,18.000000,23.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
b

,TP,TN,FP,FN,Precision,Recall,F1-Score,Accuracy
Class,,,,,,,,
accountant,40,1852,8,20,0.833333,0.666667,0.740741,0.985417
application developer,36,1852,8,24,0.818182,0.600000,0.692308,0.983333
auditor,39,1843,17,21,0.696429,0.650000,0.672414,0.980208
bookkeeper,60,1851,9,0,0.869565,1.000000,0.930233,0.995313
chef,58,1860,0,2,1.000000,0.966667,0.983051,0.998958
clerk,59,1860,0,1,1.000000,0.983333,0.991597,0.999479
college professor,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
customer service representative,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
database administrator,60,1843,17,0,0.779221,1.000000,0.875912,0.991146
event planner,119,1794,6,1,0.952000,0.991667,0.971429,0.996354
financial advisor,58,1860,0,2,1.000000,0.966667,0.983051,0.998958
financial manager,57,1848,12,3,0.826087,0.950000,0.883721,0.992188
graphic designer,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
hotel and restaurant staff,54,1857,3,6,0.947368,0.900000,0.923077,0.995313
hr manager,48,1842,18,12,0.727273,0.800000,0.761905,0.984375
illustrator,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
medical assistant,48,1846,14,12,0.774194,0.800000,0.786885,0.986458
medical doctor,44,1853,7,16,0.862745,0.733333,0.792793,0.988021
medical laboratory technologist,58,1852,8,2,0.878788,0.966667,0.920635,0.994792
office manager,45,1858,2,15,0.957447,0.750000,0.841121,0.991146
pharmacist,57,1852,8,3,0.876923,0.950000,0.912000,0.994271
project coordinator,59,1858,2,1,0.967213,0.983333,0.975207,0.998437
public relations,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
recruiter,56,1849,11,4,0.835821,0.933333,0.881890,0.992188
registered nurse,52,1856,4,8,0.928571,0.866667,0.896552,0.993750
researcher,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
software engineer,50,1839,21,10,0.704225,0.833333,0.763359,0.983854
sped teacher,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
system analyst,32,1850,10,28,0.761905,0.533333,0.627451,0.980208
tutor,60,1860,0,0,1.000000,1.000000,1.000000,1.000000
web developer,56,1850,10,4,0.848485,0.933333,0.888889,0.992708

In [6]:
b_mean = pd.DataFrame(b.describe().iloc[1])
b_mean = b_mean.rename(columns={"mean": "Existing mean"})

b_mean.to_csv("existing-mean.csv")

In [7]:
a_precision = a["Precision"]
a_recall = a["Recall"]
a_f1_score = a["F1-Score"]

b_precision = b["Precision"]
b_recall = b["Recall"]
b_f1_score = b["F1-Score"]

precision_ttest = stats.ttest_rel(a_precision, b_precision)
recall_ttest = stats.ttest_rel(a_recall, b_recall)
f1_score_ttest = stats.ttest_rel(a_f1_score, b_f1_score)

In [8]:
df = pd.DataFrame([
    [ "Statistic", precision_ttest[0], recall_ttest[0], f1_score_ttest[0] ],
    [ "p-value", precision_ttest[1], recall_ttest[1], f1_score_ttest[1] ],
], columns=[ "Metrics", "Precision", "Recall", "F1-Score" ])

df = df.set_index("Metrics")
df.to_csv("metrics/new/t-test.csv")
df

           Precision    Recall  F1-Score
Metrics
Statistic   1.973882  1.713058  3.337253
p-value     0.057666  0.097020  0.002268

## **BREAKDOWN**

Trying to achieve the same result through steps:

Mean differences:

In [9]:
def get_diff_mean(df_a: pd.DataFrame, df_b: pd.DataFrame, column: str):
    """
    Subtracts table `df_b` with `column` name from table `df_a` with column name `column`,
    and takes the average of the resulting column.

    This function will return a Series/array/list of differences in the same index
    of the two columns passed accessed with the `column` string argument in the `df_a`
    and `df_b` DataFrames.
    """
    return df_a[column].subtract(df_b[column]).mean()

In [49]:
precision_diff_mean = get_diff_mean(a, b, "Precision")
recall_diff_mean = get_diff_mean(a, b, "Recall")
fscore_diff_mean = get_diff_mean(a, b, "F1-Score")

Standard deviations of each:

In [11]:
def get_sd(df_a: pd.DataFrame, df_b: pd.DataFrame, column: str, mean):
    """
    Gets standard deviation of the differences from `df_a` and `df_b` with column name
    `column`, using the mean difference `mean`.
    """
    numerator = 0
    denominator = len(df_a[column]) - 1

    series = df_a[column].subtract(df_b[column])

    for value in series:
        numerator += (value - mean) ** 2
    
    return math.sqrt(numerator / denominator)

In [12]:
precision_sd = get_sd(a, b, "Precision", precision_diff_mean)
recall_sd = get_sd(a, b, "Recall", recall_diff_mean)
f1score_sd = get_sd(a, b, "F1-Score", fscore_diff_mean)

Finally, for t-test output:

In [14]:
precision_ttest = precision_diff_mean / (precision_sd / math.sqrt(len(a["Precision"])))
precision_ttest

1.9738818840910721

In [16]:
recall_ttest = recall_diff_mean / (recall_sd / math.sqrt(len(a["Recall"])))
recall_ttest

1.7130579295574884

In [19]:
f1_score_ttest = fscore_diff_mean / (f1score_sd / math.sqrt(len(a["F1-Score"])))
f1_score_ttest

3.3372528379865734

For p-value:

In [22]:
# For one-tailed paired t-test, alpha level 0.05
# We're doing one-tailed since we are only concerned with significant changes in the positive direction.
# Source: https://www.sjsu.edu/faculty/gerstman/StatPrimer/t-table.pdf
critical_value = 1.697

precision_is_significant = precision_ttest > critical_value
recall_is_significant = recall_ttest > critical_value
f1score_is_significant = f1_score_ttest > critical_value

precision_is_significant, recall_is_significant, f1score_is_significant

(True, True, True)

Compile all values for uniformity:

In [59]:
variables_df = pd.DataFrame({
    "Variable": ["n", "d", "Sd"],
    "Precision": [len(a["Precision"]), precision_diff_mean, precision_sd],
    "Recall": [len(a["Recall"]), recall_diff_mean, recall_sd],
    "F1-Score": [len(a["F1-Score"]), fscore_diff_mean, f1score_sd],
})

variables_df = variables_df.set_index("Variable")
variables_df.to_csv("variables.csv")
print("Done!")

Done!

In [60]:
ttest_df = pd.DataFrame({
    "Metric": ["Precision", "Recall", "F1-Score"],
    "T-statistic": [precision_ttest, recall_ttest, f1_score_ttest],
    "Critical value": [ critical_value for _ in range(3) ],
    "Is significant": [precision_is_significant, recall_is_significant, f1score_is_significant]
})

ttest_df = ttest_df.set_index("Metric")
ttest_df.to_csv("ttest.csv")
print("Done!")

Done!